<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Core" version="0.17.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NJsonSchema" version="4.8.6094.34027" targetFramework="net452" />
  <package id="NJsonSchema.CodeGeneration" version="4.8.6094.34028" targetFramework="net452" />
  <package id="NSwag.AssemblyLoader" version="5.6.6095.40773" targetFramework="net452" />
  <package id="NSwag.CodeGeneration" version="5.6.6095.40773" targetFramework="net452" />
  <package id="NSwag.Core" version="5.6.6095.40772" targetFramework="net452" />
</packages>