<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Core" version="0.13.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NJsonSchema" version="2.59.6040.32732" targetFramework="net452" />
  <package id="NJsonSchema.CodeGeneration" version="2.59.6040.32733" targetFramework="net452" />
  <package id="NSwag.AssemblyLoader" version="3.26.6040.40945" targetFramework="net452" />
  <package id="NSwag.CodeGeneration" version="3.26.6040.40945" targetFramework="net452" />
  <package id="NSwag.Core" version="3.26.6040.40944" targetFramework="net452" />
</packages>